<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title | default: 'Sad Folks Interactive' }}</title>
    {% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/' | url | slice: 0, -1 }}{% getBundleFileUrl "css", "layout" %}">
    <link rel="stylesheet" href="{{ '/' | url | slice: 0, -1 }}{% getBundleFileUrl "css" %}">
  </head>
  <body>
    <header>
      <div class="top">
        <a class="home-link" href="{{ '/' | url }}"><img src="{{ '/images/sad-folks.png' | url }}" alt="Sad Folks Interactive" width="250" height="96"></a>
        {% include 'site-links.liquid' %}
        {% include 'social-links.liquid' %}
      </div>

    {% if header %}<h1 class="topBox tagline">{{ header | escape }}</h1>{% endif %}
    </header>

    <main {% if mainClass %} class="{{ mainClass }}" {% endif %}>
      {{ content }}
    </main>

    <footer>
      {% include 'footer.liquid' %}
    </footer>

    {% componentScripts %}
    {% vercel %}
      <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
      </script>
      <script defer src="/_vercel/insights/script.js"></script>
      <script defer src="/_vercel/speed-insights/script.js"></script>
    {% endvercel %}
  </body>
</html>

{% css 'layout' %}
{% include 'layout.scss' %}
{% endcss %}
