<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title | default: 'Sad Folks Interactive' }}</title>
    {% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/' | url | slice: 0, -1 }}{% getBundleFileUrl "css", "layout" %}">
    {%- capture cssBundle -%}{%- getBundleFileUrl "css" -%}{%- endcapture -%}
    {% if cssBundle %}<link rel="stylesheet" href="{{ '/' | url | slice: 0, -1 }}{{ cssBundle }}">{% endif %}
  </head>
  <body>
    <header>
      <a class="home-link" href="{{ '/' | url }}"><img alt="Sad Folks Interactive"></a>
      {% include 'site-links.liquid' %}
      {% include 'social-links.liquid' %}
    </header>

    {{ content }}

    <footer>
      TODO Footer
    </footer>

    <script src="{{ '/' | url | slice: 0, -1 }}{% getBundleFileUrl "js" %}"></script>
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </body>
</html>

{% css 'layout' %}
  {% include 'layout.scss' %}
{% endcss %}
