<nav class="site-links">
  <a {% cur '/about/' %} href="{{ '/about/' | url }}">About</a>
  <span class="sep">-</span>
  <span class="link has-submenu" {% cur '/games' %}>
    Games
    <div class="submenu">
      {% for game in collections.game reversed %}
        <a {% cur game.page.url %} href="{{ game.page.url | url }}">{{ game.data.name }}</a>
      {% endfor %}
    </div>
  </span>
  <span class="sep">-</span>
  <a {% cur '/blog' %} href="{{ '/blog/' | url }}">Blog</a>
  <span class="sep">-</span>
  <a {% cur '/join/' %} href="{{ '/join/' | url }}">Join</a>
  <span class="sep">-</span>
  <a {% cur '/contact/' %} href="{{ '/contact/' | url }}">Contact</a>
</nav>

{% css 'layout' %}
  {% include 'site-links.scss' %}
{% endcss %}
