<nav class="social-links" aria-label="Social Links">
  {% for link in socials %}
    {% if link.todo %}
      <span class="{% component 'FakeLink' %}"><img
          alt="{{ link.name }}"
          height="76"
          src="{{ link.icon | url }}"></span>
    {% else %}
      <a href="{{ link.url }}" target="_blank"><img
          alt="{{ link.name }}"
          height="76"
          src="{{ link.icon | url }}"></a>
    {% endif %}
  {% endfor %}
</nav>

{% css 'layout' %}
  {% include 'social-links.scss' %}
{% endcss %}
