---
layout: layout.liquid
header: Blog
meta:
  title: Blog | Sad Folks Interactive
---

<main class="noPad">

{% for post in collections.blog reversed %}
  <div class="topBox">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%B %e, %Y' }}</time>
    <div class="title">{{ post.data.title }}</div>
  </div>

  <div class="article">
    <aside>
      <img src="/images/{{ post.data.social.icon | slugify }}.png" alt="{{ post.data.author }}" width="192" height="192" />
      <div>{{ post.data.author }}</div>
      {% if post.data.social %}
        {% if post.data.social.url %}<a href="{{ post.data.social.url }}">{% endif %}
        {{ post.data.social.handle }}
        {% if post.data.social.url %}</a>{% endif %}
      {% endif %}
    </aside>
    <article>{{ post.content }}</article>
  </div>
{% endfor %}

{% css %}
  {% include 'blog.scss' %}
{% endcss %}

</main>
